<div class="jumbotron">
    <div class="row-fluid">
		<div class="span12">
			<span class="text-muted">Total balance:</span> <span class="balance">{{balanceTotal | number:4}}</span> MEOWs
		</div>
		<div class="span12">
			<span class="text-muted">That's about </span><span class="balance">{{currencySymbol(currency)}}{{convertedBalanceTotal | number:4}}</span> {{currency}}!
		</div>
	</div>
    <div class="row-fluid">
		<div class="span12">
			<!-- ng-repeat... track by wallet.address avoid ngRepeat:dupes error -->
			<table class="table-balances" ng-repeat="wallet in wallets track by wallet.address">
				<tr>
					<td><strong>{{wallet.label}}</strong></td>
				</tr>
				<tr>
					<td>{{wallet.address}}</td>
				</tr>
				<tr>
					<td><span ng-show="wallet.error" class="error" ng-bind="wallet.error"></span> <div style="float:right" ng-class="{balance: !wallet.error, error: wallet.error}" class="currency">{{wallet.balance | number:4}}</div></td>
				</tr>
			</table>
		</div>
	</div>
</div>
