<div class="jumbotron">
    <div class="row-fluid">
		<div class="span12">
			<span class="text-muted">Total balance:</span> <span class="balance">{{data.total | number:4}}</span> MEOWs
		</div>
		<div class="span12">
			<span class="text-muted">That's about </span><span class="balance">{{currencySymbol(data.currency)}}{{data.convertedTotal | number:4}}</span> {{data.currency}} <span ng-show="data.convertedTotal" class="text-muted">(purrr)!</span>
		</div>
	</div>
    <div class="row-fluid">
		<div class="span12">
		<!-- ng-repeat... track by wallet.address avoid ngRepeat:dupes error -->
			<div class="walletEntry" ng-repeat="wallet in data.wallets track by wallet.label + wallet.address">
				<table class="table-balances">
					<tr>
						<td><strong>{{wallet.label}}</strong></td>
					</tr>
					<tr>
						<td class="walletDetail">{{wallet.address}}</td>
					</tr>
					<tr>
						<td class="walletDetail">
							<span ng-show="wallet.error" class="error" ng-bind="wallet.error"></span>
							<span ng-show="!wallet.error" class="meowsLabel">MEOWs</span>
							<div ng-class="{balance: !wallet.error, error: wallet.error}" class="walletBalance currency">{{wallet.balance | number:4}}</div>						
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
